<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">
	<bean id="restaurantService" class="irille.wpt.service.RestaurantService"></bean>
	<bean id="orderService" class="irille.wpt.service.OrderService">
		<property name="smsTool" ref="smsTool"></property>
		<property name="distributionRuleService" ref="distributionRuleService"></property>
		<property name="qrcodeRuleService" ref="qrcodeRuleService"></property>
	</bean>
	<bean id="topService" class="irille.wpt.service.TopService"></bean>
	<bean id="feedBackService" class="irille.wpt.service.FeedBackService"></bean>
	<bean id="cityService" class="irille.wpt.service.CityService"></bean>
	<bean id="sellerService" class="irille.wpt.service.SellerService">
		<property name="smsTool" ref="smsTool"></property>
	</bean>
	<bean id="qrcodeRuleService" class="irille.wpt.service.QrcodeRuleService"></bean>
	<bean id="distributionRuleService" class="irille.wpt.service.DistributionRuleService">
		<property name="commissionJournalService" ref="commissionJournalService"></property>
	</bean>
	<bean id="userService" class="irille.wpt.service.UserService">
		<property name="cashJournalService" ref="cashJournalService"></property>
	</bean>
	<bean id="commissionJournalService" class="irille.wpt.service.CommissionJournalService">
		<property name="commissionJournalDao" ref="commissionJournalDao"></property>
	</bean>
	<bean id="cashJournalService" class="irille.wpt.service.CashJournalService">
		<property name="cashJournalDao" ref="cashJournalDao"></property>
	</bean>
	
</beans>        