.main .search-bar{
	background: #f0f0f0;
	padding: 0.75rem 0.64rem 0.53rem 0.64rem;
}
.main .search{
	height: 0.85rem;
	border: 2px solid #000;
	position: relative;
}
.main .search_icon{
	position: absolute;
	width: 0.61rem;
	margin: 0.12rem 0 0.12rem 0.31rem;
}
.main .search-input{
	padding-left: 0.92rem;
	height: 0.85rem;
	width: 85%;
	border: none;
	font-size: 0.33rem;
}
.main .search-submit{
	position: absolute;
	top: 0;
	right: 0;
	height: 0.85rem;
	line-height: 0.85rem;
	width: 2.23rem;
	color: #fff;
	background: black;
	text-align: center;
	font-size: 0.4rem;
}
.main .nav{
	background: #fff;
	height: 1.48rem;
	margin-bottom: 4px;
}
.main .nav li{
	text-align: center;
	font-size: 0.4rem;
	float: left;
	width: 3.33rem;
	height: 1.48rem;
	line-height: 1.48rem;
	border-bottom: 4px solid #f0f0f0;
}
.main .nav li.select{
	border-bottom: 4px solid;
}
.main .list{
	position: relative;
	background: #fff;
}
.main .list .fan{
	margin: 0 auto;
	width: 8.67rem;
	height: 1.48rem;
	border-bottom: 2px solid #f0f0f0;
	position: relative;
}
.main .list .fan ul{
	padding: 0.21rem 0;
	height: 1.07rem;
}
.main .list .fan li{
	position: absolute;
	line-height: 1.07rem;
	color: #6d6d6d;
}
.main .list .fan .fan-detail-head{
}
.main .list .fan .fan-detail-nick {
	left: 1.5rem;
	font-size: 0.33rem;
	font-weight: bold;
	color: black;
}
.main .list .fan .fan-detail-id {
	left: 3.5rem;
	font-size: 0.27rem;
}
.main .list .fan .fan-detail-subtime {
	right: 0;
	font-size: 0.27rem;
}
.main .list .fan .fan-detail-head img{
	border-radius: 100%;
	width: 1.07rem;
}