
/*hall 餐厅选择*/
.hall_top{
	height:0.8rem;
	line-height:0.8rem;
	background:url("../images/bbg50.png");	
	font-size:0.36rem;
	color:#bbbbbb;
	text-align:center;
	position: fixed;
    width: 10rem;
    z-index: 20;
}
.hall_bar{
	position:fixed;
	bottom:0;
	z-index:20;
	width:10rem;
	text-align:center;
	margin:0 auto;
	padding:12px 0;	
}
.hall_bar .go{
	display:block;
	width:9.2rem;
	height:1.1rem;
	line-height:1.1rem;
	font-size:0.4rem;
	color:#fff;
	margin:0 auto;
	background:#ffc83b;
	border-radius:0.2rem;	
}
.hall_zw{
	height:92px;	
}

ul {
    margin-top: 0.8rem;
    padding: 0 0.3rem;
    position: absolute;
}
.item {
	position:relative;
	height : 2.7rem;
	padding:0.3rem 0;
	border-bottom: solid 1px #e5e5e5;
	display: block;
}
.headImage{
	position:absolute;
	left:0;
	height:2.7rem;
	width:4rem;
}
.desc {
	height:3.3rem;
	position:relative;
	padding-left:0.3rem;
	margin-left:4rem;
	width:5.1rem;
}
.title {
    color: #111;
    font-size: 0.45rem;
    font-weight: 700;
    line-height: 0.8rem;
    margin-top: -4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.addr p{
	font-size:0.35rem;
	color:#555;
}
.price {
	font-size:0.5rem;
	line-height:0.8rem;
	color:#ffc83b;
}
.price em{
	font-size:0.4rem;
	line-height:0.8rem;
	color:#ffc83b;
}
/*hall 餐厅选择*/